<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Have any questions?</h2>
            <p class="cs-text">
                Whether you're looking for physiotherapy for your horse, dog, or yourself, 3HPhysio is here to help.
                Let's work together to improve movement, ease discomfort, and enhance overall well-being.
            </p>
            <a href="/contact" class="cs-button-solid">Contact me</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/cta.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cta.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/cta.jpg" alt="cabinets" width="1920" height="1280"
            aria-hidden="true">
    </picture>
</section>