<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="cs-container">
        <div class="cta-logo">
            <picture>
                <img aria-hidden="true" decoding="async" src="/assets/images/full-logo.png" alt="veti_stable logo"
                    width="100%" height="auto" loading="eager">
            </picture>
        </div>
        <h2>Sekojiet mums</h2>
        <p>Lorem ipsum dolor sit amet curabitur eu dapibus felis. Morbi ut dolor ut mi ultricies lobortis.
            Morbi et viverra turpis. Donec cursus ornare purus nec porttitor.</p>
        <a href="/" class="cta-link"><img src="/assets/images/socials/instagram-light.svg" alt="instagram" width="20"
                height="20" aria-hidden="true" decoding="async">@veti_stable</a>
    </div>
</section>