<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-1147">
    <div class="cs-container">
        <div class="cs-top">
            <!-- <a aria-label="go back to home" class="cs-logo" href="">
                VETI ACTIVE
            </a> -->
            <!--Nav Logo-->
            <a href="/" class="cs-logo" aria-label="back to home">
                <img src="/assets/images/3hphysio-removedbg.png" alt="logo" width="210" height="29" aria-hidden="true"
                    decoding="async">
            </a>

            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="" class="cs-link">Par mums</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Zirgu apmācība</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Izjādes</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Zirgi pārdošanā</a>
                </li>
                <li class="cs-li">
                    <a href="" class="cs-link">Kontakti</a>
                </li>
            </ul>
        </div>
        <div class="cs-bottom">
            <!--Social-->
            <ul class="cs-social">
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="facebook" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-white.svg" alt="icon"
                            loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-white.svg" alt="icon"
                            loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="instagram" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-transparent.svg"
                            alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="cs-social-li">
                    <a href="" class="cs-social-link" aria-label="twitter" target="_blank" rel="noopener">
                        <img class="cs-social-icon cs-default"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-transparent2.svg"
                            alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
            </ul>
            <span class="cs-copyright">

                © Copyright 2023 - VetiActive, izstrāde un dizains no <a href="" class="cs-copyright-link">Oudsbergen
                    Designs</a>
            </span>
        </div>
    </div>
</footer>