<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/assets/images/logo/logo_no_text.png" alt="3HPhysio logo" width="210" height="29" aria-hidden="true"
                decoding="async">
        </a>
        <!-- Mobile Nav Toggle -->
        <button class="cs-toggle" aria-label="mobile menu toggle">
            <div class="cs-box" aria-hidden="true">
                <span class="cs-line cs-line1" aria-hidden="true"></span>
                <span class="cs-line cs-line2" aria-hidden="true"></span>
                <span class="cs-line cs-line3" aria-hidden="true"></span>
            </div>
        </button>
        <nav class="cs-nav" role="navigation">
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li"><a href="/" class="cs-li-link">Home</a></li>
                    <li class="cs-li"><a href="/about/" class="cs-li-link">Over mij</a></li>
                    <li class="cs-li"><a href="/horse/" class="cs-li-link">Paarden</a></li>
                    <li class="cs-li"><a href="/hound/" class="cs-li-link">Honden</a></li>
                    <li class="cs-li"><a href="/human/" class="cs-li-link">Mensen</a></li>
                    <li class="cs-li"><a href="/price/" class="cs-li-link">Prijslijst</a></li>
                    <li class="cs-li"><a href="/contact/" class="cs-li-link">Contact</a></li>
                </ul>
            </div>
        </nav>
        <a href="https://www.instagram.com/3hphysio/">
            <div class="instagram-container">
                <div class="instagram-logo">
                    <img src="/assets/images/socials/instagram.svg" alt="Instagram Logo" width="20" height="20"
                        aria-hidden="true" decoding="async">
                </div>
                <div class="instagram-text">
                    <span>instagram</span>
                    <p>@3hphysio</p>
                </div>
            </div>
        </a>
        <!-- Language Switcher Button -->
        <button id="lang-switcher" class="lang-switcher" aria-label="Switch language">
            <img id="lang-flag" src="/assets/images/buttons/netherlands.svg" alt="Dutch" width="24" height="24"
                style="vertical-align:middle;">
            <span id="lang-label">NL</span>
        </button>
    </div>
</header>