---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
key: About
order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/about.css">
<link rel="stylesheet" href="/assets/css/interior.css">


{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Elizabete - the founder of 3H-Physio</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/about-large.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/about-large.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/about-large.jpg" alt="horses">
    </picture>

</section>


<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-1445">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/fedra.jpeg">
            <source media="(min-width: 601px)" srcset="/assets/images/fedra.jpeg">
            <img loading="lazy" decoding="async" src="/assets/images/fedra.jpeg" alt="volunteers" width="650"
                height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <h2 class="cs-title">My story</h2>
            <p class="cs-text">
                I grew up in the Latvian countryside, surrounded by dogs, cats, and farm animals. From an early age, I
                felt a deep connection with every animal I met. My childhood dog, Fedra—a Hungarian Vizsla—played a huge
                role in shaping that bond. She was more than just a pet; she introduced me to the world of dog sports
                and showing. Together, we explored bikejoring and skijoring, competing across the Baltic states and
                strengthening our partnership beyond the household.
            </p>
        </div>
    </div>
    <div id="RPsbsr-1445">
        <div class="cs-container">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/jumping.jpeg">
                <source media="(min-width: 601px)" srcset="/assets/images/jumping.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/jumping.jpeg" alt="volunteers" width="650"
                    height="600" aria-hidden="true">
            </picture>
            <div class="cs-content">
                <p class="cs-text">
                    Horses have also been an irreplaceable part of my life. As a passionate rider, I spent every free
                    moment
                    around them, eventually turning my love for horses into a career. I worked and competed as a
                    showjumper
                    in Germany, Ireland, Switzerland, and the Netherlands. While I’ve stepped away from competition, my
                    passion for young horses remains strong. Helping them develop and supporting others in working with
                    their young horses is something I truly enjoy and find incredibly rewarding.
                </p>
            </div>
        </div>
    </div>
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/about2.jpeg">
            <source media="(min-width: 601px)" srcset="/assets/images/about2.jpeg">
            <img loading="lazy" decoding="async" src="/assets/images/about2.jpeg" alt="volunteers" width="650"
                height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <p class="cs-text">
                Deep down, I always knew I wanted to work with animals. However, my journey started with a degree in
                human physiotherapy, where I discovered a real passion for rehabilitation—especially sports
                physiotherapy. After graduating from Hanze University of Applied Sciences, I moved to Ireland to
                complete a Master’s Certificate in Sports and Exercise Medicine at UCC. Finally, I took the step that
                had always felt like my true calling—studying Animal Physiotherapy at Aeres Training Center.
            </p>
            <p class="cs-text">
                Now, as a fully qualified physiotherapist for both humans and animals, I have the privilege of working
                with horses, dogs, and people alike. My approach goes beyond physical treatment—I believe true
                rehabilitation considers both body and mind, whether in humans or animals. Inspired by my own
                experiences in training and rehabilitation, my goal is simple: to help them move better, feel better,
                and ultimately, live happier lives.
            </p>
        </div>
    </div>


    <!-- ============================================ -->
    <!--                   Quote                      -->
    <!-- ============================================ -->

    <div id="quote-561">
        <div class="cs-container-qoute">
            <div class="cs-content-qoute">
                <span class="cs-topper">Quote</span>
                <p class="cs-quote">
                    For me, there’s nothing more rewarding than seeing an animal move more freely, regain strength, or
                    simply feel better after treatment. It’s that transformation—the moment when their eyes light up
                    with relief—that drives me every day. I want every owner to experience that joy, knowing their
                    animal is not just healing but thriving.
                </p>
                <span class="cs-name">Elizabete Brauna</span>
            </div>
        </div>
    </div>
</section>



{% endblock %}