---
title: 'Par mums'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'parmums/'
eleventyNavigation:
    key: Par mums
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/about.css">
<link rel="stylesheet" href="/assets/css/interior.css">


{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Par VetiActive</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/about-us.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/about-us.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/about-us.jpg" alt="horses">
    </picture>

</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/show1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/show1.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/show1.jpg" alt="sacensības" loading="lazy"
                    width="400" height="563">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/show2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/show2.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/show2.jpg" alt="sacensības divi"
                    loading="lazy" width="400" height="563">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <h2 class="cs-title">Ģimenes stallis Kokneses tuvumā</h2>
            <p class="cs-text">
                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet,
                iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
                nonatourean olei aptent taciti sociosqu ad litora torquent per.
            </p>
            <p class="cs-text">
                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet,
                iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
                nonatourean olei aptent taciti sociosqu ad litora torquent per.
            </p>
        </div>
    </div>
</section>


{% endblock %}