---
title: 'Contact'
description: 'Contact 3HPhysio for horse and dog physiotherapy in the Netherlands. We are here to help you and your pets
feel their best!'
preloadImg: '/assets/images/about-us.jpg'
permalink: 'contact/'
eleventyNavigation:
    key: Contact
    order: 600
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/contact.css">
<link rel="stylesheet" href="/assets/css/interior.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->
<section id="int-hero">
    <h1 id="home-h">Contact me</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/about-us.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/about-us.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/about-us.jpg" alt="horses">
    </picture>
</section>

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->


<section id="contact-1388">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Dogs and horses treated at your location</span>
            <h2 class="cs-title">Get in touch</h2>
            <p class="cs-text">
                At 3HPhysio, we’re passionate about providing top-tier physiotherapy care for your horse. Whether you
                need advice, have questions, or are ready to schedule an appointment, our team is here to assist you.
                Let us help your horse recover, perform, and feel their best!
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-76.svg"
                            alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">Phone</span>
                        <a href="tel:888-4565-789
                        " class="cs-link">+31 622132763
                        </a>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-icon-wrapper">
                        <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-76.svg"
                            alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                    </picture>
                    <div class="cs-flex-group">
                        <span class="cs-header">E-mail</span>
                        <a href="mailto:Email@stitch.com" class="cs-link">info@3hphysio.nl</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-1388" name="Contact Form" method="post">
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-1388" name="name"
                    placeholder="Please provide your full name">
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="email" id="email-1388" name="email"
                    placeholder="Enter your email address for follow-up">
            </label>
            <label class="cs-label cs-phone">
                Phone
                <input class="cs-input" required type="text" id="phone-1388" name="phone"
                    placeholder="Provide your number in case we need to reach you urgently">
            </label>
            <label class="cs-label">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-1388"
                    placeholder="Write message or question that you have..."></textarea>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
        </form>
    </div>
</section>


{% endblock %}