---
title: 'Zirgu pansija'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'cenas/'
eleventyNavigation:
    key: Cenas
    order: 700
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/pricing.css">
<link rel="stylesheet" href="/assets/css/interior.css">

{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Zirgu pansija</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/about-us.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/about-us.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/about-us.jpg" alt="horses">
    </picture>

</section>


<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-975">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Cenu lapa</h2>
        </div>
        <div class="cs-menu">
            <!--Left Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Izjāde mežā , 1h</span>
                        <span class="cs-price">€39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Grupā vai individuāli
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Jāšanas apmācība uz laukuma , 1h</span>
                        <span class="cs-price">€35</span>
                    </h3>
                    <p class="cs-menu-text">
                        Profesionāla trennera uzraudzībā
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Zirga iejāšana</span>
                        <span class="cs-price">Pēc norunas</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Zirgu uzturēšana</span>
                        <span class="cs-price">€260</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Treilera īre</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
            </ul>
            <!--Right Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Vecmeitu ballītes</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Haircut With Blow Dry</span>
                        <span class="cs-price">$39</span>
                    </h3>
                    <p class="cs-menu-text">
                        Creative way to paint, decorate, enhance, and embellish.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
                                


{% endblock %}