---
title: 'Pricelist'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'price/'
eleventyNavigation:
key: Pricelist
order: 700
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/pricing.css">
<link rel="stylesheet" href="/assets/css/interior.css">

{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Prices</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/about-us.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/about-us.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/about-us.jpg" alt="horses">
    </picture>

</section>


<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1087">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Simple & transparent pricing</h2>
            <p class="cs-text">
                At 3HPhysio, we believe in making our services accessible and straightforward. We offer clear,
                no-hidden-cost pricing, so you can be confident in the value you're receiving for your horse’s care. Our
                goal is to provide high-quality physiotherapy services without any surprises, ensuring your horse gets
                the best treatment at a fair price.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">

                <span class="cs-package">Dog Physiotherapy</span>
                <span class="cs-price">€49.99</span>
                <p class="cs-item-p">
                    Basic features for up to 10 services
                </p>
                <a href="/contact" class="cs-button-solid cs-price-button">Book appointment</a>
                <ul class="cs-ul">
                    <li class="cs-li">
                        All available starter feature
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Home service 24/7
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Customer agent service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Professional Service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        2 dedicated mechanic
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Remote Service mechanic
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                </ul>
            </li>
            <li class="cs-item cs-popular">
                <span class="cs-package">Horse Physiotherapy</span>
                <div class="cd-price-container">
                    <span class="cs-price">€105.00</span>
                    <p class="cs-item-p">
                        Initial Consultation (60 - 90 min)
                    </p>
                </div>
                <div class="cd-price-container">
                    <span class="cs-price">€105.00</span>
                    <p class="cs-item-p">
                        Treatment Session (45 - 60 min)
                    </p>
                </div>
                <div class="cd-price-container">
                    <span class="cs-price">€45.00</span>
                    <p class="cs-item-p">
                        Rehabilitation training/groundwork
                    </p>
                </div>
                <a href="/contact" class="cs-button-solid cs-price-button">Book Appointment</a>
            </li>
            <li class="cs-item">
                <span class="cs-package">Human Physiotherapy</span>
                <span class="cs-price">On request</span>
                <p class="cs-item-p">
                    Basic features for up to 10 services
                </p>
                <a href="" class="cs-button-solid cs-price-button">Book Appointment</a>
                <ul class="cs-ul">
                    <li class="cs-li">
                        All available starter feature
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Home service 24/7
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Customer agent service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Professional Service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        2 dedicated mechanic
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Remote Service mechanic
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark"
                            width="18" height="18">
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>





{% endblock %}