---
title: 'Zirgu pansija'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'pansija/'
eleventyNavigation:
    key: Pansija
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/stabling.css">
<link rel="stylesheet" href="/assets/css/interior.css">

{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Zirgu pansija</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/about-us.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/about-us.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/about-us.jpg" alt="horses">
    </picture>

</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                  Why Choose                  -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-682">
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <img loading="lazy" decoding="async" src="/assets/images/pansija.png" alt="people outside" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture2">
                <img loading="lazy" decoding="async" src="/assets/images/about-us.jpg" alt="people outside" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture3">
                <img loading="lazy" decoding="async" src="/assets/images/show1.jpg" alt="people outside" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture4">
                <img loading="lazy" decoding="async" src="/assets/images/show2.jpg" alt="people outside" width="306" height="360">
            </picture>
            <!--Zig Zag Graphic-->
            <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
        </div>
        <div class="cs-content">
            <h2 class="cs-title">Zirgu uzturēšana <span class="cs-color">ķēvēm un kastrātiem</span></h2>
            <p class="cs-text">
                Staļļa prioritāte ir zirga labklājība un veselība. Katram zirgam tiek nodrošināta individuāla pieeja.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <h3 class="cs-h3">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="squares" width="17" height="18">
                        Ganības un aploki cauru gadu
                    </h3>
                    <p class="cs-item-text">
                        Vasarā zirgi atrodas ārā 24/7, ziemā diennakts gaišo laiku pavada ziemas aplokos mazās grupās.
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="squares" width="17" height="18">
                        Labākās kvalitātes siens un spēkbarība
                    </h3>
                    <p class="cs-item-text">
                        Sienu vācam paši, tādēļ esam pārliecināti par tā izcelsmi un kvalitāti
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="squares" width="17" height="18">
                        Viss nepieciešamais kvalitatīviem trenniņiem
                    </h3>
                    <p class="cs-item-text">
                        60x40m liels laukums ar labu segumu, manēža, sķēršļu komplekts
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="squares" width="17" height="18">
                        Draudzīgs kolektīvs
                    </h3>
                    <p class="cs-item-text">
                        Regulāri rīkojam pašmāju sacensības un pasākumus
                    </p>
                </li>
            </ul>
            <a class="cs-button-solid" href="">Book Appointment</a>
        </div>
    </div>
</section>
                                


{% endblock %}