---
title: 'Home'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
key: Home
order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/index.css" />

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window
            .netlifyIdentity
            .on('init', (user) => {
                if (!user) {
                    window
                        .netlifyIdentity
                        .on('login', () => {
                            document.location.href = '/admin/';
                        });
                }
            });
    }
</script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
    <div class="logo-container">
        <div class="buttons-container">
            <a href="/tirgus">
                <div class="button-container">
                    <div class="button-logo">
                        <img aria-hidden="true" decoding="async" src="/assets/images/buttons/horse-logo.svg"
                            alt="shop-logo" width="25px" height="auto" loading="eager">
                    </div>
                </div>
            </a>
            <a href="/apmaciba">
                <div class="button-container">
                    <div class="button-logo">
                        <img aria-hidden="true" decoding="async" src="/assets/images/buttons/dog.svg" alt="horse-logo"
                            width="25px" height="auto" loading="eager">
                    </div>
                </div>
            </a>
            <a href="/izjades">
                <div class="button-container">
                    <div class="button-logo">
                        <img aria-hidden="true" decoding="async" src="/assets/images/buttons/human.svg" alt="rider-logo"
                            width="25px" height="auto" loading="eager">
                    </div>
                </div>
            </a>

        </div>
        <div class="logo-image-container">
            <h1>3H-Physio</h1>
        </div>
        <div class="button-logo-text">
            Horse, human and hound physiotherapy
        </div>
    </div>

    <!-- Background Image -->
    <picture class="kg-hero-picture">
        <source media="(max-width: 1000px)" srcset="/assets/images/landing-mobile.jpg">
        <source media="(min-width: 1001px)" srcset="/assets/images/landing-desktop.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/landing-mobile.jpg" alt="new home" width="100%"
            height="auto" loading="eager">
    </picture>
</section>

<!-- ============================================ -->
<!--                  About                    -->
<!-- ============================================ -->

<section id="about">
    <div class="cs-container">
        <div class="text-container">
            <article>
                <h2>About 3H-Physio</h2>
                <p>
                    At <strong>3HPhysio</strong>, we specialize in physiotherapy for horses, hounds, and humans—helping
                    them move better,
                    feel better, and live happier lives.
                </p>
                <p>
                    Founded by <strong>Elizabete Brauna</strong>, a dedicated physiotherapist with
                    expertise in both human and animal rehabilitation, 3HPhysio offers tailored treatments that focus on
                    mobility, strength, and overall well-being.

                    With a lifelong passion for animals and years of experience in equestrian sports and physiotherapy,
                    Elizabete combines knowledge and care to support every patient’s unique needs.


                </p>
                <p>
                    Whether you're looking to improve your horse’s performance, help your dog recover from an injury,
                    or enhance your own movement, 3HPhysio is here to help.
                </p>
                <a href="/about">Read more about Elizabete</a>
            </article>
        </div>
        <div class="img-container">
            <picture>
                <img aria-hidden="true" decoding="async" src="/assets/images/about.jpg" alt="about us" width="100%"
                    height="auto" loading="eager" style="max-height: 700px;">
            </picture>
        </div>
    </div>
</section>



<section id="training">
    <div class="image-full-width">
        <img aria-hidden="true" decoding="async" src="/assets/images/horse-physio.jpg" alt="horse-training" width="100%"
            height="auto" loading="eager">
    </div>
    <div class="text-full-width">
        <div class="text-container">
            <h2>Human, Hound, Horse</h2>
            <p>Veti Active stallis piedāvā jaunzirgu apmācību atbilstoši zirga vecumam un sagatavotībai. Zirgi tiek
                sagatavoti no pašiem pamatiem līdz sacensībām, atkarībā no klienta vēlmēm. </p>
            <ul>
                <li>Jaunzirgu iejāšana no nulles</li>
                <li>Zirgu sagatavošana konkūra sacencībām</li>
                <li>Uzvedības problēmu labošana</li>
                <li>Zirgu sagatavošana tirgum</li>
            </ul>
            <a href="/apmaciba">Contact 3H-Physio</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  For sale                   -->
<!-- ============================================ -->
<!-- 
<section id="sale">
    <div class="cs-container">
        <article>
            <div class="logo">
                <img aria-hidden="true" decoding="async" src="/assets/images/buttons/shop-primary.svg" alt="shop-logo"
                    width="30px" height="auto" loading="eager">
            </div>
            <h2>Zirgu tirgus</h2>
            <p>Pārdošanā pašu audzēti, gan iepirkti sporta zirgi. Ar labiem jāšanas pamatiem, talantu un labiem
                ciltsrakstiem.
                Sazināties ar mums, lai varētu palīdzēt atrast Jums atrast labāko partneri.</p>
        </article>
        <div class="sales-cards">
            {% if collections.post | length == 0 %}
            <h2>Šobrīd nav zirgu pārdošanā.</h2>
            {% else %}
            {% set sortedPosts = collections.post | reverse %}
            {%- for post in sortedPosts.slice(0, 3) -%}

            <a href="{{ post.url }}" class="sales-card-link">
                <div class="sales-card">
                    <div class="sales-img">
                        <img aria-hidden="true" decoding="async" src="{{ post.data.image }}"
                            alt="{{ post.data.imageAlt }}" width="100%" height="auto" loading="eager">
                    </div>
                    <div class="sales-header">
                        <div class="info">
                            <span class="name">{{ post.data.title}}</span>
                            <span class="gender">{{ post.data.gender }}</span>
                            <span class="birth">05/2016</span>
                        </div>
                        <span class="sold">
                            {% if post.data.sold== "Pārdots" %}
                            {{ post.data.sold }}
                            {% endif %}</span>
                    </div>
                    <div class="sales-body">
                        <p>
                            {{ post.data.description }}
                        </p>
                    </div>
                </div>
            </a>
            {%- endfor -%}
            {% endif %}
        </div>
        <a href="/tirgus" class="see-all-sales">Apskatīt visus</a>
    </div>
</section> -->

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-448">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Physiotherapy in Netherlands</h2>
            <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia consequat duis enim velit mollit.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="/assets/images/buttons/horse-logo.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Horse</h3>
                    <p class="cs-item-text">Lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="" class="cs-link">Read More</a>
                </div>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/services-horse.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/services-horse.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/services-horse.jpg"
                        alt="leaf" width="345" height="428">
                </picture>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="/assets/images/buttons/human.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Human</h3>
                    <p class="cs-item-text">Lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="" class="cs-link">Read More</a>
                </div>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/human.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/human.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/human.jpg" alt="grass"
                        width="345" height="428">
                </picture>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="/assets/images/buttons/dog.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Hound</h3>
                    <p class="cs-item-text">Lorem ipsum dolor sit amet, consectetur.</p>
                    <a href="" class="cs-link">Read More</a>
                </div>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/services-dog.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/services-dog.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/services-dog.jpg"
                        alt="leaves" width="345" height="428">
                </picture>
            </li>
        </ul>
    </div>
</section>

{% endblock %}