---
title: 'Home'
description: '3HPhysio - horse, human and dog physiotherapy in Netherlands'
preloadImg: '/assets/images/landing-desktop.jpg'
permalink: '/'
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/index.css" />

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window
            .netlifyIdentity
            .on('init', (user) => {
                if (!user) {
                    window
                        .netlifyIdentity
                        .on('login', () => {
                            document.location.href = '/admin/';
                        });
                }
            });
    }
</script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
    <div class="logo-container">
        <div class="buttons-container">
            <a href="/horse">
                <div class="button-container">
                    <div class="button-logo">
                        <img aria-hidden="true" decoding="async" src="/assets/images/buttons/horse-logo.svg"
                            alt="shop-logo" width="25px" height="auto" loading="eager">
                    </div>
                </div>
            </a>
            <a href="/hound">
                <div class="button-container">
                    <div class="button-logo">
                        <img aria-hidden="true" decoding="async" src="/assets/images/buttons/dog.svg" alt="horse-logo"
                            width="25px" height="auto" loading="eager">
                    </div>
                </div>
            </a>
            <a href="/human">
                <div class="button-container">
                    <div class="button-logo">
                        <img aria-hidden="true" decoding="async" src="/assets/images/buttons/human.svg" alt="rider-logo"
                            width="25px" height="auto" loading="eager">
                    </div>
                </div>
            </a>
        </div>
        <div class="logo-image-container">
            <h1>3HPhysio</h1>
        </div>
        <div class="button-logo-text">
            Horse, hound and human physiotherapy
        </div>
    </div>

    <!-- Background Image -->
    <picture class="kg-hero-picture">
        <source media="(max-width: 1000px)" srcset="/assets/images/landing-mobile.jpg">
        <source media="(min-width: 1001px)" srcset="/assets/images/landing-desktop.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/landing-mobile.jpg" alt="Elizabete" width="100%"
            height="auto" loading="eager">
    </picture>
</section>

<!-- ============================================ -->
<!--                  About                    -->
<!-- ============================================ -->

<section id="about">
    <div class="cs-container">
        <div class="text-container">
            <article>
                <h2>About 3HPhysio</h2>
                <p>
                    At <strong>3HPhysio</strong>, we specialize in physiotherapy for horses, hounds, and humans—helping
                    them move better,
                    feel better, and live happier lives.
                </p>
                <p>
                    Founded by <strong>Elizabete</strong>, a dedicated physiotherapist with
                    expertise in both human and animal rehabilitation, 3HPhysio offers tailored treatments that focus on
                    mobility, strength, and overall well-being.

                    With a lifelong passion for animals and years of experience in equestrian sports and physiotherapy,
                    Elizabete combines knowledge and care to support every patient’s unique needs.


                </p>
                <p>
                    Whether you're looking to improve your horse’s performance, help your dog recover from an injury,
                    or enhance your own movement, 3HPhysio is here to help.
                </p>
                <a href="/about">Read more about Elizabete</a>
            </article>
        </div>
        <div class="img-container">
            <picture>
                <img aria-hidden="true" decoding="async" src="/assets/images/about.jpeg"
                    alt="Animal physiotherapist Elizabete" width="100%" height="auto" loading="eager"
                    style="max-height: 700px;">
            </picture>
        </div>
    </div>
</section>



<section id="training">
    <div class="image-full-width">
        <img aria-hidden="true" decoding="async" src="/assets/images/horse-physio.jpg" alt="Back treatment of a horse"
            width="100%" height="auto" loading="eager">
    </div>
    <div class="text-full-width">
        <div class="text-container">
            <h2>Human, Hound, Horse</h2>
            <p>3HPhysio provides professional physiotherapy services for humans, dogs, and horses, helping to build
                stronger, healthier, and more harmonious partnerships. </p>
            <ul>
                <li>Injury prevention and faster recovery</li>
                <li>Improved mobility and muscle flexibility</li>
                <li>Pain relief and overall well-being</li>
                <li>Improved quality of life for senior and active animals</li>
                <li>Optimized sports performance</li>
            </ul>
            <a href="/contact">Contact 3HPhysio</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-448">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Physiotherapy in Netherlands</h2>
            <p class="cs-text">
                At 3HPhysio, we offer specialized physiotherapy services for horses, dogs, and humans across the
                Netherlands. Whether you are seeking rehabilitation after an injury, improving athletic performance, or
                supporting long-term health, our tailored programs are designed to meet individual needs.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="/assets/images/buttons/horse-logo.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Horse</h3>
                    <p class="cs-item-text"> Personalized rehabilitation after injury, performance optimization for
                        sport or
                        recreational horses,
                        preventative care, and mobility improvement for horses of all ages and disciplines.</p>
                    <a href="/horse" class="cs-link">Read More</a>
                </div>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/services-horse.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/services-horse.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/services-horse.jpg"
                        alt="Physiotherapy session for a horse" width="345" height="428">
                </picture>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="/assets/images/buttons/human.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Human</h3>
                    <p class="cs-item-text">Treatment of musculoskeletal issues, recovery after sports injuries, posture
                        correction, and strength training programs designed for riders and active individuals.
                    </p>
                    <a href="/human" class="cs-link">Read More</a>
                </div>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/human.jpeg">
                    <source media="(min-width: 601px)" srcset="/assets/images/human.jpeg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/human.jpeg"
                        alt="Physiotherapy session for a human" width="345" height="428">
                </picture>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="/assets/images/buttons/dog.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Hound</h3>
                    <p class="cs-item-text">Recovery support after surgery or injury, mobility maintenance for senior
                        dogs, athletic support for working and sporting dogs, and behavioral well-being through physical
                        health.</p>
                    <a href="/hound" class="cs-link">Read More</a>
                </div>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/dog.jpeg">
                    <source media="(min-width: 601px)" srcset="/assets/images/dog.jpeg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/dog.jpeg"
                        alt="Physiotherapy session for a dog" width="345" height="428">
                </picture>
            </li>
        </ul>
    </div>
</section>

{% endblock %}