---
title: 'VetiActive'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
key: Home
order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/index.css" />

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window
            .netlifyIdentity
            .on('init', (user) => {
                if (!user) {
                    window
                        .netlifyIdentity
                        .on('login', () => {
                            document.location.href = '/admin/';
                        });
                }
            });
    }
</script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
    <div class="logo-container">
        <div class="logo-image-container">
            <picture class="kg-logo-picture">
                <img aria-hidden="true" decoding="async" src="/assets/images/logo.png" alt="new home" width="80px"
                    height="auto" loading="eager">
            </picture>
            <h1>Veti Active</h1>
        </div>
        <div class="buttons-container">
            <a href="/apmaciba">
                <div class="button-container">
                    <div class="button-logo">
                        <img aria-hidden="true" decoding="async" src="/assets/images/buttons/horse-logo.svg"
                            alt="horse-logo" width="25px" height="auto" loading="eager">
                    </div>
                    <p class="button-logo-text">Zirgu apmācība</p>
                </div>
            </a>
            <a href="/izjades">
                <div class="button-container">
                    <div class="button-logo">
                        <img aria-hidden="true" decoding="async" src="/assets/images/buttons/horse-rider.svg"
                            alt="rider-logo" width="25px" height="auto" loading="eager">
                    </div>
                    <p class="button-logo-text">Jātnieku trennēšana</p>
                </div>
            </a>
            <a href="/tirgus">
                <div class="button-container">
                    <div class="button-logo">
                        <img aria-hidden="true" decoding="async" src="/assets/images/buttons/shop.svg" alt="shop-logo"
                            width="25px" height="auto" loading="eager">
                    </div>
                    <p class="button-logo-text">Tirgus un audzēšana</p>
                </div>
            </a>
            <a href="/pansija">
                <div class="button-container">
                    <div class="button-logo">
                        <img aria-hidden="true" decoding="async" src="/assets/images/buttons/stables.svg"
                            alt="stabling-logo" width="25px" height="auto" loading="eager">
                    </div>
                    <p class="button-logo-text">Zirgu pansija</p>
                </div>
            </a>
        </div>

    </div>

    <!-- Background Image -->
    <picture class="kg-hero-picture">
        <source media="(max-width: 1000px)" srcset="/assets/images/landing-mobile.jpg">
        <source media="(min-width: 1001px)" srcset="/assets/images/landing-desktop.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/landing-mobile.jpg" alt="new home" width="100%"
            height="auto" loading="eager">
    </picture>
</section>

<!-- ============================================ -->
<!--                  About                    -->
<!-- ============================================ -->

<section id="about">
    <div class="cs-container">
        <div class="text-container">
            <article>
                <h2>Kas mēs esam?</h2>
                <p>
                    Phasellus enim libero, blandit vel sapien vitae, ondimentum ultricies magna et. Quisque euismodorci
                    ut
                    et lobortis aliquam. Aliquam in tortor enim.Phasellus enim libero, blandit vel sapien vitae,
                    condimentum ultricies magna et. Quisque euismod
                    orci ut et lobortis aliquam. Aliquam in tortor enim.
                </p>
                <a href="/par-mums">Lasīt vairāk</a>
            </article>
        </div>
        <div class="img-container">
            <picture>
                <img aria-hidden="true" decoding="async" src="/assets/images/about.png" alt="about us" width="100%"
                    height="auto" loading="eager">
            </picture>
        </div>
    </div>
</section>



<section id="training">
    <div class="image-full-width">
        <img aria-hidden="true" decoding="async" src="/assets/images/longe.png" alt="horse-training" width="100%"
            height="auto" loading="eager">
    </div>
    <div class="text-full-width">
        <div class="text-container">
            <h2>Zirgu apmācība un sagatavošana</h2>
            <p>Zirgu apmācība un sagatavošana ir būtisks process, kas prasa gan laiku, gan pacietību. Sākotnējais
                kontakts ar jauniem zirgiem ir ļoti svarīgs, veidojot savstarpējo uzticēšanos. Mēs piedāvājam sagatavot
                zirgus atbilstoši klienta velmēm. </p>
            <ul>
                <li>Jaunzirgu iejāšana no nulles</li>
                <li>Zirgu sagatavošana konkūra sacencībām</li>
                <li>Uzvedības problēmu labošana</li>
                <li>Zirgu sagatavošana tirgum</li>
            </ul>
            <a href="/apmaciba">Lasīt vairāk</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Lessons                    -->
<!-- ============================================ -->

<section id="lessons">
    <div class="cs-container">
        <div class="text-container">
            <article>
                <h2>Jāšanas apmācības un izjādes dažādiem līmeņiem</h2>
                <p>
                    Phasellus enim libero, blandit vel sapien vitae, ondimentum ultricies magna et. Quisque euismodorci
                    ut
                    et lobortis aliquam. Aliquam in tortor enim.Phasellus enim libero, blandit vel sapien vitae,
                    condimentum ultricies magna et. Quisque euismod
                    orci ut et lobortis aliquam. Aliquam in tortor enim.
                </p>
                <a href="/izjades">Lasīt vairāk</a>
            </article>
        </div>
        <div class="img-container">
            <picture>
                <img aria-hidden="true" decoding="async" src="/assets/images/riding-lessons.png" alt="about us"
                    width="100%" height="auto" loading="eager">
            </picture>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                  For sale                   -->
<!-- ============================================ -->

<section id="sale">
    <div class="cs-container">
        <article>
            <div class="logo">
                <img aria-hidden="true" decoding="async" src="/assets/images/buttons/shop-primary.svg" alt="shop-logo"
                    width="30px" height="auto" loading="eager">
            </div>
            <h2>Dažādu līmeņu zirgi pārdošanā</h2>
            <p>Suspendisse egestas mattis rhoncus pellen tesque euismod erat at sed do
                eiusmod tempor posuere molestie lorem lectus interdum augue</p>
        </article>
        <div class="sales-cards">
            <a href="/" class="sales-card-link">
                <div class="sales-card">
                    <div class="sales-img">
                        <img aria-hidden="true" decoding="async" src="/assets/images/blog/sale1.jpg"
                            alt="horse for sale" width="100%" height="auto" loading="eager">
                    </div>
                    <div class="sales-header">
                        <div class="info">
                            <span class="name">Novita Z</span>
                            <span class="gender">Ķēve</span>
                            <span class="birth">05/2016</span>
                        </div>
                        <span class="sold">Pārdots</span>
                    </div>
                    <div class="sales-body">
                        <p>
                            Ķēve ar potenciālu, piemērota jebkura līmeņa jātniekam, ar sacensību pieredzi.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/" class="sales-card-link">
                <div class="sales-card">
                    <div class="sales-img">
                        <img aria-hidden="true" decoding="async" src="/assets/images/blog/sale2.jpg"
                            alt="horse for sale" width="100%" height="auto" loading="eager">
                    </div>
                    <div class="sales-header">
                        <div class="info">
                            <span class="name">Iced</span>
                            <span class="gender">Kastrāts</span>
                            <span class="birth">05/2016</span>
                        </div>
                        <span class="sold">Pārdots</span>
                    </div>
                    <div class="sales-body">
                        <p>
                            Ķēve ar potenciālu, piemērota jebkura līmeņa jātniekam, ar sacensību pieredzi.
                        </p>
                    </div>
                </div>
            </a>
            <a class="sales-card-link" href="/">
                <div class="sales-card">
                    <div class="sales-img">
                        <img aria-hidden="true" decoding="async" src="/assets/images/blog/sale3.jpg"
                            alt="horse for sale" width="100%" height="auto" loading="eager">
                    </div>
                    <div class="sales-header">
                        <div class="info">
                            <span class="name">Novita Z</span>
                            <span class="gender">Ķēve</span>
                            <span class="birth">05/2016</span>
                        </div>
                        <span class="sold"></span>
                    </div>
                    <div class="sales-body">
                        <p>
                            Ķēve ar potenciālu, piemērota jebkura līmeņa jātniekam, ar sacensību pieredzi.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <a href="/tirgus" class="see-all-sales">Apskatīt visus</a>
    </div>
</section>

<!-- ============================================ -->
<!--                  Stabling                    -->
<!-- ============================================ -->

<section id="stabling">
    <div class="cs-container">
        <div class="text-container">
            <article>
                <h2>Zirgu pansija Koknesē</h2>
                <p>
                    Staļļa prioritāte ir zirga labklājība un veselība. Katram zirgam tiek nodrošināta individuāla
                    pieeja. Zirgi atrodas ārā 24/7, nelielās grupās pa 3 – 4 vienā plašā aplokā ar nojumi. Ganības
                    nodrošinātas
                    no aprīļa – novembrim. Mēsli tiek tīrīti katru dienu. Ziemas periodā pastāvīgi pieejams ūdens un
                    labas kvalitātes siens.Skaista labiekārtota teritorija ar piknika vietu.
                </p>
                <a href="/pansija">Lasīt vairāk</a>
            </article>
        </div>
        <div class="img-container">
            <picture>
                <img aria-hidden="true" decoding="async" src="/assets/images/pansija.png" alt="stabling" width="100%"
                    height="auto" loading="eager">
            </picture>
        </div>
    </div>
</section>

{% endblock %}