/*-- -------------------------- -->
<---     Horse Physio           -->
<--- -------------------------- -*/
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #RPsbs-74,
    #RPsbsr-74 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            margin-right: auto;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);

            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 95%;
            max-width: calc(550 / 16 * 1rem);
            margin: 0;
            position: relative;
            display: block;
            /* width divided by height */
            aspect-ratio: 312/335;
            border-radius: 6px;
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 6px;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {

    #RPsbs-74,
    #RPsbsr-74 {

        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: flex-start;
            /* 60px - 128px */
            gap: clamp(3.75rem, 9.5vw, 8rem);
        }

        .cs-picture {
            /* 328px - 502px */
            width: clamp(20.5rem, 37.5vw, 31.375rem);
            /* 440px - 520px */
            height: clamp(27.5rem, 40vw, 32.5rem);
            /* 16px - 20px */
            margin: 0 0 0 clamp(1rem, 5vw, 1.25rem);
            flex: none;
        }

        .cs-content {
            width: 45%;
            margin: 0;
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/


/* Tablet - 768px */
@media only screen and (min-width: 48em) {
    #RPsbsr-74 {
        .cs-container {
            justify-content: flex-end;
        }

        .cs-picture {
            /* 16px - 20px */
            margin-right: clamp(1rem, 5vw, 1.25rem);
            /* forces it to the left */
            order: 2;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 0) {
    #RPsbsr-74 {
        background-color: #1c1c1c;

        .cs-text,
        .cs-title {
            color: var(--bodyTextColorWhite);
        }
    }
}


/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1739 {
        padding: var(--sectionPadding);
        position: relative;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;

        .cs-container {
            width: 100%;
            max-width: 1000px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 24ch;
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            grid-column: span 12;
            grid-row: span 1;
        }

        .cs-picture {
            width: 100%;
            min-height: calc(340 / 16 * 1rem);
            display: block;
            position: relative;
            /* causes this element to grow to its maximum width, before its sibling elements take up the remaining space */
            flex: 1 0 auto;

            img {
                width: 100%;
                height: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
                /* pushes the top of the image to the top of the container */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-review {
            text-align: left;
            width: 100%;
            /* prevents padding from affecting height and wodth */
            box-sizing: border-box;
            /* left & right 16px - 32px */
            padding-top: 1.25rem;
            border-top: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .cs-name {
            font-size: calc(20 / 16 * 1rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 calc(4 / 16 * 1rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-flex {
            width: 100%;
            margin-bottom: calc(24 / 16 * 1rem);
            padding-bottom: calc(20 / 16 * 1rem);
            border-bottom: 1px solid #e8e8e8;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .cs-desc {
            font-size: calc(16 / 16 * 1rem);
            font-weight: 700;
            line-height: 1.5em;
            color: var(--primary);
            display: block;
        }

        .cs-item-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 3vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-boxes {
            display: flex;
        }

        .cs-box {
            /* 24px - 32px top & bottom, 16px - 32px left & right */
            padding: clamp(1.5rem, 2vw, 2rem) clamp(1rem, 2vw, 2rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            /* causes the boxes to grow, equally, within the parent container */
            flex: 1;
        }

        .cs-box-light {
            background-color: #e8e8e8;
        }

        .cs-box-dark {
            background-color: #1a1a1a;
            color: #f7f7f7;
        }

        .cs-weight {
            /* 25px - 31px */
            font-size: clamp(1.5625rem, 4vw, 1.9375rem);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0 0 calc(4 / 16 * 1rem);
            display: flex;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-arrow {
            width: calc(18 / 16 * 1rem);
            height: calc(18 / 16 * 1rem);
        }

        .cs-tagline {
            font-size: calc(16 / 16 * 1rem);
            font-weight: 700;
            line-height: 1.2;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1739 {
        .cs-item {
            flex-direction: row;
        }

        .cs-picture {
            max-width: 400px;
            min-height: 0;
        }

        .cs-info {
            padding-left: 1.25rem;
        }
    }
}