/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0em) {

    // Website colors
    :root {
        --primary: #FAC10E;
        --primaryLight: #FCFAEB;
        --secondary: #0F102C;
        --secondaryLight: #001f3f;
        --headerColor: #0F102C;
        --bodyTextColor: #4e4b66;
        --bodyTextColorWhite: #969696;
        --maxWidth: calc(1280 / 16 * 0.9rem);

        /* 13px - 16px */
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        /* h1 */
        --mainHeaderFontSize: clamp(2.3rem, 4.5vw, 3.8625rem);
        /* h1 interior pages */
        --mainInteriorHeaderFontSize: clamp(1.8rem, 3.5vw, 2.8rem);
        /* 31px - 49px */
        --headerFontSize: clamp(1.675rem, 3.9vw, 38px);
        --bodyFontSize: 1rem;

        /* 60px - 100px top and bottom */
        --sectionPadding: clamp(3.75rem, 7.82vw, 9.25rem) 1rem;
    }

    .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: .1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
    }


    p {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        width: 100%;
        margin: 0 auto 2rem auto;
        color: var(--bodyTextColor);
    }

    li {
        line-height: 1.5em;
    }

    a {
        text-decoration: none;
    }
}

/* Fonts and general styles */
@media only screen and (min-width: 0em) {
    // Grab your fonts to locally host from https://gwfh.mranftl.com/fonts

    /* montserrat-300 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        src: url('../fonts/montserrat-v26-latin-300.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* montserrat-regular - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* montserrat-500 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        src: url('../fonts/montserrat-v26-latin-500.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* montserrat-700 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        src: url('../fonts/montserrat-v26-latin-700.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* open-sans-regular - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/open-sans-v36-latin-regular.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }



    body,
    html {
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 100%;
        margin: 0;
        padding: 0;
        color: var(--bodyTextColor);
        overflow-x: hidden;
    }

    *,
    *:before,
    *:after {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }

    body {
        transition: background-color 0.3s;
    }

    .container {
        width: 92%;
        margin: auto;
        position: relative;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: var(--headerColor);
        font-family: "Montserrat", Arial, sans-serif;
    }

    h2 {
        font-weight: 500;
        font-size: var(--headerFontSize);
        margin-bottom: 1rem;
    }

    a,
    button {
        &:hover {
            cursor: pointer;
        }
    }

    // Hidden Screen reader skip nav button
    .skip {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1111111;
    }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {

    body,
    html {
        margin: 0;
        padding: 0;
    }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 2000px) {

    body,
    html {
        font-size: 0.85vw;
    }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #footer-1147 {
        padding: var(--sectionPadding);
        background-color: var(--headerColor);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-top {
            width: 100%;
            /* 32px - 40px */
            margin-bottom: clamp(2rem, 4vw, 2.5rem);
            padding-bottom: clamp(2rem, 4vw, 2.5rem);
            border-bottom: 1px solid #484848;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: calc(32 / 16 * 1rem);
        }

        .cs-ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            row-gap: calc(8 / 16 * 1rem);
            /* 28px - 40px */
            column-gap: clamp(1.75rem, 4vw, 2.5rem);
            color: white;
        }

        .cs-li {
            list-style: none;
        }

        .cs-link {
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--primaryLight);
            display: block;
            transition: color 0.3s;
            font-family: "Montserrat", Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 0.9rem;

            &:hover {
                color: var(--primary);
            }
        }

        .cs-logo {
            img {
                width: 100%;
                height: 100%;
                max-width: 200px;
            }
        }

        p {
            color: var(--bodyTextColorWhite);
            text-align: center;
            font-weight: 600;
            font-size: 0.8rem;
            margin-top: 1rem;
        }

        .cs-bottom {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(24 / 16 * 1rem);
        }

        .cs-social {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-social-li {
            list-style: none;
        }

        .cs-social-link {
            width: calc(32 / 16 * 1rem);
            height: calc(32 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primaryLight);
            }
        }

        .cs-social-icon {
            width: 30px;
            height: auto;
            display: block;
            opacity: 0.8;
            color: var(--primaryLight);
        }

        .cs-copyright {
            font-size: calc(16 / 16 * 0.8rem);
            line-height: 1.5em;
            margin: 0;
            color: #bababa;
            display: block;
            text-align: center;
        }

        .cs-copyright-link {
            font-size: inherit;
            text-decoration: none;
            color: inherit;
            transition: color 0.3s;

            &:hover {
                color: var(--secondary);
            }
        }

        .cs-copyright-my-link {
            font-size: inherit;
            text-decoration: none;
            color: inherit;
            transition: color 0.3s;

            &:hover {
                color: var(--primary);
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #1a1a1a;
                opacity: 0.96;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #footer-1147 {
        .cs-top {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-bottom {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-logo {
            max-width: 65ch;
            text-align: left;

            p {
                text-align: left;
            }
        }
    }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-51 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            color: var(--primaryLight);
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            font-family: "Montserrat", Arial, sans-serif;
            color: var(--primaryLight);
            opacity: 0.8;
            max-width: 80ch;

            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.675rem, 4.5vw, 2.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            margin: 0;
            color: var(--secondary);
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            font-family: "Montserrat", Arial, sans-serif;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
        }

        .cs-picture {
            height: 100%;
            width: 100%;
            display: block;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* black color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: 0.8;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}